#resume .heading {
  margin: 75px 30px 0 30px;
  text-align: center;
}

.resume-button {
  justify-content: center;
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
}

.send-button-container button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.resume-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-right: 0px;
  font-weight: bold;
  font-size: 14px;
}

.resume-button button {
  background-color: #ecdbe4;
  height: 50px;
  width: 165px;
  text-align: center;
  border-radius: 10px;
  margin-right: 20px;
}

.resume-button button:last-child {
  margin-right: 0;
}

.resume-button button:hover {
  background-color: #fff;
  color: #253855;
}
