#menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
  width: 100%;
  /* background-color: #8f6682; */
  background-color: #283a53;
  margin-bottom: 35px;
  font-size: 19px;
  text-align: end;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 2;
  margin-bottom: 50px;
}

#menu button {
  display: none;
}

#menu a {
  color: #fafaff;
}

#menu a:hover {
  text-decoration: underline;
  /* color: #d0c0b3; */
  color: #7baecc;
}

html {
  scroll-behavior: smooth;
}

.menu-left {
  margin-left: 30px;
  margin-right: auto;
}

.menu-left img {
  height: 40px;
  width: 40px;
}

@media only screen and (max-width: 768px) {
  #menu {
    height: 60px;
  }

  #menu-open {
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    /* background-color: #8f6682; */
    background-color: #283a53;
    margin-bottom: 35px;
    font-size: 19px;
    text-align: end;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 2;
    margin-bottom: 50px;
  }
  #menu a {
    display: none;
  }

  #menu button {
    position: fixed;
    padding-right: 20px;
    display: flex;
    margin-right: 50px;
    margin-left: auto;
    /* background-color: #8f6682; */
    background-color: #283a53;
    border: none;
    outline: none;
  }

  .hamburger,
  .hamburger-close {
    color: #fafaff;
    font-size: 28px;
  }

  #menu-open button {
    position: fixed;
    top: 15px;
    right: 0;
    padding-right: 20px;
    /* background-color: #8f6682; */
    background-color: #283a53;
    border: none;
    outline: none;
  }

  #menu-open .menu-left {
    padding-top: 8px;
  }

  #menu-open a {
    color: #fafaff;
    padding-bottom: 15px;
  }

  #menu-open a:hover {
    text-decoration: underline;
    color: #7baecc;
  }

  #menu-open .menu-items {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
  }
}
