#experience {
  margin: 50px 30px 0 30px;
}

#experience .heading {
  text-align: center;
  margin-bottom: 50px;
}

.consultant-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.GS,
.FBPH {
  width: 30%;
  margin: 20px 30px;
  background-color: #eee6ea;
  padding: 0 25px;
}

@media only screen and (max-width: 1024px) {
  .GS,
  .FBPH {
    width: 35%;
  }
}

@media only screen and (max-width: 768px) {
  #experience .heading {
    margin-bottom: 30px;
  }

  .GS,
  .FBPH {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
