#experience {
  margin: 0 30px 0 30px;
}

#experience .heading {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 80px;
}

.company {
  display: flex;
}

.company-details {
  display: flex;
}

.company-name {
  margin: 0;
}

.period {
  margin-left: auto;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.company-designation {
  font-style: italic;
  margin: 0;
}

.company-designation::before {
  content: ' - ';
}

.consultant-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.GS,
.FBPH {
  width: 35%;
  margin: 20px 30px;
  background-color: #c3dbe9;
  padding: 0 25px;
}

@media only screen and (max-width: 1024px) {
  .GS,
  .FBPH {
    width: 35%;
  }
}

@media only screen and (max-width: 768px) {
  #experience .heading {
    margin-bottom: 30px;
    padding-top: 50px;
  }

  .company {
    flex-direction: column;
  }

  .company-details {
    flex-direction: column;
  }

  .company-designation {
    font-size: 20px;
  }

  .company-designation::before {
    content: '';
  }

  .period {
    margin-left: 0;
  }

  .GS,
  .FBPH {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
