#experience {
  margin: 0 30px 0 30px;
}

#experience .heading {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 80px;
}

.company {
  display: flex;
}

.company-name {
  margin: 0;
}

.period {
  margin-left: auto;
  /* font-style: italic; */
  margin-top: 0;
  margin-bottom: 0;
}

/* .company-designation {
  font-style: italic;
} */

.consultant-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.GS,
.FBPH {
  width: 35%;
  margin: 20px 30px;
  background-color: #eee6ea;
  padding: 0 25px;
}

@media only screen and (max-width: 1024px) {
  .GS,
  .FBPH {
    width: 35%;
  }
}

@media only screen and (max-width: 768px) {
  #experience .heading {
    margin-bottom: 30px;
    padding-top: 50px;
  }

  .company {
    flex-direction: column;
  }

  .period {
    margin-left: 0;
  }

  .GS,
  .FBPH {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
