body {
  font-family: 'Times New Roman', Times, serif;
  /* background-color: #17323a; */
  background-color: #f9f8f8;
  /* color: #efffeb; */
  /* color: #1C0C0D; */
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.heading {
  /* color: #d8973c; */
  color: #164f64;
  font-size: 50px;
  margin: 0;
}
