body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #17323a;
  color: #efffeb;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.heading {
  color: #d8973c;
  font-size: 50px;
  margin: 0;
}
