#contact .heading {
  margin-top: 50px;
  text-align: center;
  /* text-decoration: underline;
  text-decoration-color: orange; */
}

/* .bar {
  height: 3px;
  width: 180px;
  background-color: #cb0f5d;
} */
