#contact .heading {
  margin: 75px 30px 0 30px;
  text-align: center;
}

.contact-subheading {
  color: #3f5d8d;
  text-align: center;
  font-size: 32px;
}

.contact-description {
  font-size: 19px;
  margin: 25px 268px;
  text-align: center;
}

.linkedIn,
.github,
.email {
  font-size: 28px;
}

.linkedIn:hover,
.github:hover,
.email:hover {
  color: #8f6682;
}

.social-media {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #253855;
  margin-right: 35px;
}

.social-media a:last-child {
  margin-right: 0;
}

a span {
  vertical-align: super;
  padding-left: 5px;
  /* color: #efffeb; */
}

a span:hover {
  color: #8f6682;
  text-decoration: underline;
}

.quick-note {
  display: flex;
  flex-direction: column;
  margin: 0 28%;
}

.quick-note p {
  color: #253855;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 5px;
}

.quick-note input,
.invalidEmail {
  margin-bottom: 20px;
  padding: 10px;
}

.quick-note textarea {
  height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
}

.invalidEmail {
  border: 1px solid red;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.quick-note textarea::placeholder,
.quick-note textarea,
.quick-note input .quick-note input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

.send-button-container {
  display: flex;
  justify-content: center;
}

.send-button-container button {
  background-color: #ecdbe4;
  height: 50px;
  width: 165px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
}

.send-button-container button:hover {
  background-color: #fff;
}

@media only screen and (max-width: 1024px) {
  .contact-description {
    margin: 25px 9%;
  }
}

@media only screen and (max-width: 768px) {
  .contact-description {
    margin: 25px 9%;
  }
}
